:root {
    --mask-image: url("../../assets/О-нас-Моб.png");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-family: "Holgada", sans-serif;
}

.hidden {
    pointer-events: none;
}

/* Глобальная текстура поверх всех страниц отключена */
body::before,
body::after {
    content: none !important;
    display: none !important;
}